.Register {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5 rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 6);
  background-color: white;
}
.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5 rem;
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}
input {
  margin: 0.5rem, 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 6);
}

button {
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background: none;
  text-decoration: underline;
}
