.Register {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(10deg, #ffffff, #9cb6ff 19%, #597cbe);
  padding: 5rem;
}
.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5 rem;
}
.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5 rem;
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}
input {
  margin: 0.5rem, 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #510674;
  border-color: #510674;
  border: none;

  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #bfcbed;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
