
.TopBar {

  background-color: white;

  height: 55px;

  width: auto;

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  padding: auto;
}
.TopBar button {
  width: auto;
  height: 35px;
  font: inherit;
  text-align: center;
  cursor: pointer;
  padding: 0.9rem 2rem 2rem 2rem;

  color: black;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 6);
  text-decoration: none;
}
a {
  position: relative;
  color: #000;
  text-decoration: none;
  display: row;
  padding: 17.5px 0.5rem 17.5px 0.5rem;
  margin: 0rem 0rem 0rem 0rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

a:hover {
  color: #000;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 3px;
  bottom: 20%;
  left: 5%;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a:hover::before {
  transform: scaleX(1);
}
